body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(223, 175, 18);
}

h1 {
  font-family: "Fjalla One", sans-serif;
  margin-top: 0;
}

p {
  font-family: "Noto Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: beige;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

li {
  text-align: start;
}

button {
  border-radius: 10px;
  font-size: 2rem;
  padding: 0 10px 5px;
  margin: 10px;
}
